.animated-letters {
  overflow: hidden;
}
.animated-word {
  display: block;
  white-space: nowrap;
}
.animated-word .animated-letter {
  display: inline-block;
  transform: translate3d(0, 2em, 0);
}

@keyframes introTitleFadeIn {
  to {
    transform: translate3d(0, .2em, 0);
  }
}
